@font-face {
    font-family: "Norse";
    src: url(../fonts/Norse.otf);
    font-weight: normal;
}
@font-face {
    font-family: "Norse";
    src: url(../fonts/Norsebold.otf);
    font-weight: bold;
}
html{
	height:100%;
	padding:0;
	margin:0;
}
body{
	display:flex;
	flex-wrap:wrap;
	height:100%;
	margin:0;
	padding:0;
	overflow:hidden;
}
.image{
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	flex:content;
	flex-basis:170px;
	background-image:url(../bg.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;

}
.form-container{
	background-color: whitesmoke;
	flex: 2;
	display:flex;
	flex-direction: column;
}

.form{
	position:relative;
	margin-top:10px;
	padding-left:40px;
	background-color: white;
	box-shadow: 0px 5px 10px -4px grey;
}
.form p{
	font-size:larger;
	font-weight: bold;
}
.flex-container{
	position:relative;
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width:52%;
}
.flex-container>div{
	margin:0 0px 16px 0px;
}
.translucent{
	display:flex;
	font-size: 80px;
	font-weight: bold;
	font-family: Norse, Courier, monospace;
	color:white;
	justify-content: center;
	align-items: center;
	padding:8px;
	position:relative;
	top:20%;
	height:120px;
	background-color: rgba(0, 0, 0, 0.5);
}
img{
	height:120px;
}
.filler{
	margin-left:50px;
	margin-right:20%;
	font-size: 18px;
	font-weight: bold;
}
.flex{
	position:relative;
	display:flex;
	align-items: flex-end;
}
.anotherflex{
	display:flex;
	flex-direction: column;
	justify-content: flex-end;
}
.form-container>div{
	flex:1;
}
label{
	color:rgb(65, 65, 65);
	font-size:11px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:600;
	letter-spacing: 1px;
}
p{
	font-family: Arial, Helvetica, sans-serif;
}
input{
	outline:none;
	width:190px;
	height:20px;
	border-radius: 3px;
	border: solid #E5E7EB 1px;
}
button{
	margin:30px;
	margin-left:40px;
	padding:13px;
	padding-left: 40px;
	padding-right: 40px;
	border-radius: 8px;
	border:none;
	background-color: #596D48;
	color: whitesmoke;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.error,
input:invalid{
	border: solid red 1px;
}
input:focus{
	border: solid royalblue 1px;
	box-shadow: 0px 0px 3px 0.1px royalblue;
}
span{
	color:#596D48;
	font-weight: bold;
}
span:hover{
	cursor:pointer;
}
.login-container p{
	margin-top:-10px;
	margin-left:40px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}